.breadcrumb {
  color: #00AE42;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}

.breadcrumb-container {
  font-family: 'AvenirLTPro-Heavy', sans-serif;
  font-size: 20px;
  margin-left: 41px;
  margin-top: 20px;
}
