<div id="header" class="header">
  <header class="header pb-xl-0 px-3 position-relative z-2 text-body">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col col-xl-2" style="max-width:250px">
          <a class="d-flex align-items-center" title="Group Medical Services" href="http://www.gms.ca">
            <img class="p1-4" src="assets/img/gms-all.svg" alt="Group Medical Services">
          </a>
        </div>
        <div class="col-xl-10 position-static z-0">
          <div class="mb-0 text-xl-right visible-lg">
            <a href="https://www.gms.ca/about-gms" class="d-inline-block py-1 px-2 text-smaller">About
              GMS</a>
            <div class="d-inline-block mr-3 text-smaller">
              <div [class]="isLoggedIn()? 'loginGroup logged-in': 'loginGroup'">
                <a *ngIf="!isLoggedIn()" title="Login / Register" class="d-inline-block py-1 px-2 text-smaller"
                  rel="nofollow" href="{{cimsUrl}}login.aspx">Login / Register</a>
                <div *ngIf="isLoggedIn()" class="username d-inline-block">
                  Welcome, <b>{{ displayName() }}</b>
                </div>
                <a *ngIf="isLoggedIn()" title="Logout" class="d-inline-block py-1 px-2 text-smaller" rel="nofollow"
                  (click)="logout()">Logout</a>
              </div>
            </div>
            <a href="{{cimsUrl}}login.aspx" class="btn btn-sm btn-outline-dark mr-3">My GMS</a>
            <a href="{{cimsUrl}}/web/claim.aspx" class="btn btn-sm btn-info mr-3">Submit a claim</a>
            <div class="btn-group" [ngClass]="{'show' : !isToggled}" style="display:inline-block !important">
              <button type="button" class="btn btn-sm btn-dark mr-3 dropdown-toggle" (click)="toggleDropdown()">
                Get a Quote &nbsp;<i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right" [ngClass]="{'show' : !isToggled}">
                <a class="dropdown-item" routerLink='/buyflow/health'>Health
                  Insurance</a>
                <a class="dropdown-item" routerLink='/buyflow/travel'>Travel
                  Insurance</a>
                <a class="dropdown-item" routerLink='/buyflow/vtc'>Visitors to
                  Canada Insurance</a>
              </div>
            </div>

            <a href="#" data-toggle="modal" data-target="#searchModal" class="btn-search">
              <i class="fa fa-search fa-lg btn-search"></i>
            </a>

          </div>





          <section class="nav-section" id="nav" [collapse]="isCollapsed" [ngClass]="{'collapsed' : isCollapsed}">
            <nav class="nav-main d-flex justify-content-xl-end"
              [ngClass]="!isCollapsed ? 'collapseSubNav' : 'collapseSubNav in'">
              <ul class="parent-nav">
                <li class="nav-item has-children">
                  <a class="mobile-page-link" href="http://www.gms.ca/health-insurance/overview">
                    Health Insurance
                  </a>
                  <span class="page-disabled">Health Insurance <i class="fa fa-angle-down"></i></span>
                  <div class="nav-dropdown">
                    <ul class="child-nav">
                      <li class="nav-item">
                        <a href="https://www.gms.ca/health-insurance/overview">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/health-insurance/personal-health">Personal
                          Health</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/health-insurance/replacement-health">Replacement
                          Health</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item has-children">
                  <a class="mobile-page-link" href="https://www.gms.ca/travel-insurance/overview">
                    Travel Insurance
                  </a>
                  <span class="page-disabled">Travel Insurance <i class="fa fa-angle-down"></i></span>
                  <div class="nav-dropdown visible-xl">
                    <ul class="child-nav">
                      <li class="nav-item">
                        <a href="https://www.gms.ca/travel-insurance/overview">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/travel-insurance/emergency-medical-coverage">
                          Emergency
                          Medical Coverage
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/travel-insurance/trip-cancellation-insurance">
                          Trip
                          Cancellation Insurance
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/travel-insurance/for-students">For
                          Students</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="https://www.gms.ca/immigrants-visitors-insurance">Immigrants
                    &amp; Visitors Insurance</a>
                </li>
                <li class="nav-item has-children">
                  <a class="mobile-page-link" href="https://www.gms.ca/group-plans/overview">
                    Group Plans
                  </a>
                  <span class="page-disabled">Group Plans <i class="fa fa-angle-down"></i></span>
                  <div class="nav-dropdown">
                    <ul class="child-nav">
                      <li class="nav-item">
                        <a href="https://www.gms.ca/group-plans/overview">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/group-plans/group-advantage-plan">
                          Group Advantage
                          Plan
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="https://www.gms.ca/group-plans/custom-plans">Custom
                          Plans</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="http://www.gms.ca/living-well">Living Well</a>

                </li>
              </ul>
            </nav>
            <div class="utility-nav mt-3 d-block d-xl-none"
              [ngClass]="!isCollapsed ? 'collapseSubNav' : 'collapseSubNav in'">
              <p class="mb-0"></p>
              <div class="mobile-login-container pb-3 text-center text-smaller text-white">
                <div [class]="isLoggedIn()? 'loginGroup logged-in': 'loginGroup'">
                  <a *ngIf="!isLoggedIn()" title="Login / Register" class="d-inline-block py-1 px-2 text-smaller"
                    rel="nofollow" href="{{cimsUrl}}login.aspx">Login / Register</a>
                  <div *ngIf="isLoggedIn()" class="username d-inline-block">
                    Welcome, <strong>{{ displayName() }}</strong>
                  </div>
                  <a *ngIf="isLoggedIn()" title="Logout" class="d-inline-block py-1 px-2 text-smaller" rel="nofollow"
                    (click)="logout()">Logout</a>
                </div>
                <!-- <a title="Login / Register" class="d-inline-block py-1 px-2 text-smaller" rel="nofollow" href="http://localhost:5678/login.aspx">Login / Register</a> -->
              </div>
              <a href="https://my.gms.ca" class="btn btn-block btn-outline-light">My GMS</a>
              <p class="mb-0"></p>
              <a href="{{cimsUrl}}/web/claim.aspx" class="btn btn-block btn-info">Submit a claim</a>
              <!-- <a href="#" class="btn btn-block btn-outline-light">Get a quote</a> -->
              <p class="mb-0"></p>
              <div class="btn-group d-block w-100" [ngClass]="{'show' : !isToggled}">
                <button type="button" (click)="toggleDropdown()" class="btn btn-block btn-outline-light dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Get a Quote &nbsp;<i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu w-100" [ngClass]="{'show' : !isToggled}" x-placement="bottom-start"
                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
                  <a class="dropdown-item" routerLink='/buyflow/health'>Health Insurance</a>
                  <a class="dropdown-item" routerLink='/buyflow/travel'>Travel Insurance</a>
                  <a class="dropdown-item" routerLink='/buyflow/vtc'>Visitors to Canada Insurance</a>
                </div>
              </div>

              <div>
              </div>

            </div>
          </section>
        </div>
        <div class="col-auto d-inline-block d-xl-none text-right menu-toggle-container position-relative z-1">
          <button class="btn btn-sm btn-menu-toggle" [ngClass]="{'btn-menu-toggle-active' : !isCollapsed}" type="button"
            id="menu-toggle" (click)="isCollapsed = !isCollapsed">
            <i class="fa fa-bars fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
</div>