
.logo {
    margin-left: 15px;
  }
  
  #header {
    top: 0px;
    width: 100%;
    z-index: 1070 !important;
    font-family: AvenirLTPro-Book;
    background: #fff;
  }
  
  #header header {
    padding-top: 24px !important;
  }
  
  #header.logged-in header {
    padding-top: 1rem !important;
  }
  
  header.header {
    border-top: 7px solid #00ae42;
    border-bottom: 3px solid #0032a0;
  }
  
  .position-relative {
    position: relative !important;
  }
  
  .z-2 {
    z-index: 999 !important;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .bs-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .row {
    display: flex;
  }
  
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  
  .d-inline-block {
    display: inline-block !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .position-static {
    position: static !important;
  }
  
  .text-xl-right {
    text-align: right !important;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main {
    font-size: 13px;
    font-family: AvenirLTPro-Heavy;
  }
  
  .mt-3, .my-3 {
    margin-top: 16px !important;
  }
  
  [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 6px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: none !important;
  }
  
  .btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .mr-3, .mx-3 {
    margin-right: 16px !important;
  }
  
  .btn {
    border-radius: 2px;
    font-size: 17px;
    font-family: AvenirLTPro-Medium;
    font-weight: 400;
    padding-left: 35px !important;
    padding-right: 35px !important;
    line-height: 30px;
  }
  
  .btn-sm {
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 17px;
  }
  
  .btn-info {
    background-color: #24ba4f;
    border-color: #24ba4f;
    color: #fff;
  }
  
  .btn-info:active, .btn-info:focus, .btn-info:hover {
    background-color: #1c8f3d !important;
    border-color: #1c8f3d !important;
  }
  
  
  .btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  a.no-bottom-border {
    border-bottom: none;
  }
  
  a.header-link:hover {
    text-decoration: underline;
    color: #004aed;
  }
  
  .nav-item a {
    border-bottom: none;
  }
  
  .btn-block + .btn-block {
    margin-top: 0.5rem;
  }
  
  .btn-group {
    display: block !important;
  }
  
  .w-100 {
    width: 100%;
  }
  
  dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 1rem;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main > ul > li {
    position: relative;
    display: inline-flex;
    letter-spacing: 1px;
    white-space: nowrap;
  }
  
  /* @media screen and (min-width:1200px) */
  span.page-disabled {
    cursor: default;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main > ul > li > span.page-disabled, nav.nav-main > ul > li > a {
    color: #444;
    text-transform: uppercase;
    display: block;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    line-height: 55px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  
  /* @media screen and (min-width:1300px) */
  nav.nav-main > ul > li > span.page-disabled, nav.nav-main > ul > li > a {
    padding: 0 20px;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main > ul > li.active > a {
    color: #0032a0;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main > ul > li > .nav-dropdown {
    display: none;
    position: absolute;
    left: 0px;
    top: 55px;
    margin: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    min-width: 100%;
    background: #0032a0;
  }
  
  
  nav.nav-main > ul > li:hover {
    color: white;
    background: #0032a0;
  }
  
  nav.nav-main > ul > li:hover a {
    color: white;
    background: #0032a0;
  }
  
  nav.nav-main > ul > li:hover span {
    color: #fff;
    background: #0032a0;
  }
  
  nav.nav-main > ul > li:hover span {
    color: white;
    background: #0032a0;
  }
  
  nav.nav-main > ul > li > .nav-dropdown > ul > li:hover a {
    background-color: #24BA4F;
  }
  
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0px;
  }
  
  /* @media screen and (min-width:1200px) */
  nav.nav-main > ul > li > .nav-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 1200px) {
    .d-xl-none {
      display: none !important;
    }
  
    nav.nav-main > ul > li:hover div {
      display: list-item;
    }
  
    nav.nav-main > ul > li > a.mobile-page-link {
      display: none;
    }
  }
  
  @media screen and (max-width: 1199px) {
    .d-xl-none {
      display: block !important;
    }
  
    .fa-angle-down {
      display: none !important;
    }
  
    nav.nav-main > ul li span {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .nav-section {
      margin-top: 1rem !important;
      display: block !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    nav.nav-main > ul > li > .nav-dropdown ul li {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
    }
  }
  
  @media screen and (min-width: 1200px) {
    nav.nav-main > ul > li > .nav-dropdown ul li a {
      font-family: AvenirLTPro-Book;
      font-size: 15px;
      text-transform: none;
      color: #fff;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  
  @media screen and (max-width: 1199px) {
    nav.nav-main > ul > li > span.page-disabled, nav.nav-main > ul > li > a {
      background-color: #0032a0;
      color: #fff;
      text-transform: uppercase;
      display: block;
      padding: 15px 0 15px 20px;
      position: relative;
      text-decoration: none;
      line-height: 22px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  
  @media screen and (max-width: 1199px) {
    nav.nav-main > ul > li > a:hover {
      background: #0042D3; /* blue */
      color: #fff;
      text-shadow: none;
    }
  
    .header {
      padding-bottom: 24px !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    nav.nav-main > ul > li > .nav-dropdown ul li:last-of-type > a {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    nav.nav-main > ul > li > .nav-dropdown ul li:first-of-type > a {
      border-top-right-radius: 2px;
    }
  }
  
  
  @media screen and (max-width: 1199px) {
    nav.nav-main > ul > li > span.page-disabled i.fa, nav.nav-main > ul > li > a i.fa {
      font-size: 19px;
      margin-left: 30px;
      padding: 0 20px;
      position: relative;
    }
  }
  
  
  .btn-menu-toggle-active {
    color: #ffffff !important
  }
  
  .fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  
  .fa-lg {
    font-size: 1.33em;
    line-height: 0.75em;
    vertical-align: -0.06em;
  }
  
  .fa, .fas {
    font-weight: 900;
  }
  
  .fa-angle-down::before {
    content: "\f107";
  }
  
  .pt-1, .py-1 {
    padding-top: 0.25rem !important;
  }
  
  .pb-1, .py-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pr-2, .px-2 {
    padding-right: 0.9rem !important;
  }
  
  .pl-2, .px-2 {
    padding-left: 0.9rem !important;
  }
  
  .btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
  }
  
  .btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  
  button {
    border-radius: 0;
  }
  
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button, input {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
  }
  
  .btn-menu-toggle#menu-toggle {
    color: #7b7b7b;
    box-shadow: none !important;
    outline: none !important;
  }
  
  .fa-bars::before {
    content: "\f0c9";
  }
  
  .pb-3, .py-3 {
    padding-bottom: 16px !important;
  }
  
  .pt-5, .py-5 {
    padding-top: 3rem !important;
  }
  
  /* @media all and (min-width:992px) */
  .pt-lg-10, .py-lg-10 {
    padding-top: 7.5rem !important;
  }
  
  .bg-dark {
    background-color: #262729 !important;
  }
  
  /* @media all and (min-width:576px) */
  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0px !important;
  }
  
  address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }
  
  .d-md-inline {
    display: inline !important;
  }
  
  .d-inline {
    display: inline !important;
  }
  
  /* @media all and (min-width:768px) */
  .text-md-left {
    text-align: left !important;
  }
  
  /* @media all and (min-width:768px) */
  .d-md-none {
    display: none !important;
  }
  
  /* @media all and (min-width:768px) */
  .offset-md-0 {
    margin-left: 0px;
  }
  
  .p-1 {
    padding: .25rem !important;
  }
  
  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }
  
  .mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  
  @media screen and (max-width: 1199px) {
    .collapse {
      transition: all 0.3s ease-out;
      display: block !important;
      max-height: 0;
      overflow: hidden !important;
      padding: 0 !important;
    }
  
    .collapse.in {
      transition: all 0.3s ease-in;
      max-height: 663px;
      padding: 100px 100px 50px 50px !important;
      overflow: visible !important;
    }
  
    .collapseSubNav {
      transition: all 0s ease-out 0.3s !important;
      opacity: 1 !important;
    }
  
    .collapseSubNav.in {
      transition: all 0s ease-in 0.3s !important;
      opacity: 0 !important;
    }
  
    .btn-group.show > button {
      color: #212529 !important;
      background-color: #f8f9fa !important;
      border-color: #f8f9fa !important;
    }
  }
  
  
  @media screen and (max-width: 575px) {
    .collapse.in {
      padding: 100px 30px 50px 30px !important;
      width: 100%;
    }
  }
  
  
  @media screen and (max-width: 1199px) {
    .nav-section {
      background-color: #0032a0;
      position: absolute;
      top: -7px;
      right: 0;
      width: 90%;
    }
  }
  
  
  @media screen and (max-width: 1199px) {
    nav.nav-main > ul {
      flex-direction: column;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1199px) {
    nav.nav-main > ul > li {
      flex-direction: column;
    }
  }
  
  .mobile-login-container a {
    color: #fff;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  
  .text-smaller {
    font-size: 15px !important;
  }
  
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 8px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    line-height: 30.4px
  }
  
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 24px !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 16px !important;
  }
  
  header.header a.dropdown-item:hover {
    background: #0032a0;
    color: #fff !important;
    text-decoration: none;
  }
  
  header.header a.dropdown-item:visited {
    color: #444;
  }
  
  @media (min-width: 992px) {
    .dropdown-menu-lg-right {
      right: 0;
      left: auto;
    }
  }
  
  .btn-search {
    color: #7b7b7b !important;
    font-size: 1.2em;
  }
  
  .btn-search:visited {
    color: #7b7b7b !important;
  }
  
  @media screen and (max-width: 1200px) {
    .visible-lg {
      display: none !important;
    }
  }
  