<div class="container">
  <div *ngIf="claims.length == 0; else printMsgs">
    <p-gms-wc row="1" col="12" text="Empty here. Consume some messages."></p-gms-wc>
  </div>
  <ng-template #printMsgs>
    <h2-gms-wc row="1" col="12" text="Recent Updated Claim"></h2-gms-wc>
    <div>
      <!-- <p-gms-wc row="2" col="6" text="{{msg.key}} - {{msg.value}}"></p-gms-wc> -->
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Claim ID</th>
            <th>Claim submitted</th>
            <th>Total Owed</th>
            <th>Claim Paid</th>
            <th>Claim Status</th>
            <th>Process Date</th>
            <th>Claim Description</th>
          </tr>
        </thead>
        <tr *ngFor="let claim of claims">
          <td>{{claim.id}}</td>
          <td>{{claim.isSubmitted}}</td>
          <td>{{claim.totalOwed}}</td>
          <td>{{claim.isPaid}}</td>
          <td>{{claim.cbDescription}}</td>
          <td>{{claim.processDate}}</td>
          <td>{{claim.csDescription}}</td>
        </tr>
      </table>
    </div>
  </ng-template>
</div>